/* #region common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:  #9792E4;
    --secondary: #0084FD;
    --secondarylight: #B5DDFF;
    --dark: #333333;
    --alert: #FDC15F;
    --light: #FFFFFF;
    --text: #848484;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* #endregion common rules */

/* #region utility */
.container {
    width: 70%;
    margin: 0 auto;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col_"]{
    padding: 0 1rem;
}

.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}
/* #endregion utility */

/* #region header */
header {
    background-color: var(--secondary);
    font-size: 12px;
    padding: 0.5rem;
}

.navmenu {
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--light);
}

.menu_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 5px;
    border-radius: 1rem;
}

.start {
    color: black;
    background-color: var(--light);
}
/* #endregion header */

/* #region main */
main a {
    text-decoration: none;
}

p {
    line-height: 2;
}

/* #region section 1 */
section {
    padding: 3rem 0;
}

#app_title {
    text-align: left;
}

.demo_logos {
    font-size: 100px;
    margin: 30px;
    color: var(--secondary);
}

.demo h3 {
    margin: 30px;
    color: var(--secondary)
}

.demo img {
    height: 400px;
    margin-top: 86px;
    float: right;
}

.demo p {
    padding-bottom: 49px;
}

.demo_text {
    text-align: center;
    margin: 10px;
    background-color: var(--secondarylight);
    border-radius: 1rem;
}

.store {
    color: var(--light);
    background-color: var(--secondary);
    display: block;
    width: 160px;
    margin-top: 100px;
}

.apple_btn {
    margin: 0 30px;
}

/* #endregion section 1 */

/* #region section 2 */
.planning {
    background-color: var(--primary);
    color: var(--light);
}

.planning h3 {
    padding: 30px 0;
}

.app_dev img {
    height: 350px;
}

.app_dev {
    margin-top: 250px;
    color: black;
    background-color: var(--light);
    text-align: center;
    border-radius: 2rem;
}

.p20 {
    padding: 10px;
}

.fa-arrow-down-long {
    margin-top: 30px;
    background-color: var(--primary);
    padding: 20px 21px;
    border-radius: 50%;
    color: black;
}
/* #endregion section 2 */

/* #region section 3 */
.partners {
    text-align: center;
}

.partners h1 {
    margin: 20px 0;
    color: var(--primary);
}

.partners img {
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    padding: 1rem;
}

.card {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    color: white;
    margin: 30px 0;
}

.partners_info {
    text-align: left;
    margin-left: 50px;
}

.partners_info h4 {
    margin-top: 20px;
}
/* #endregion section 3 */

/* #region section 4 */
.benefits {
    background-color: var(--primary);
    text-align: center;
    color: var(--light);
}

.card_text h1,
.card_text h3 {
    color: var(--primary);
    margin: 1rem 0;
} 

.benefit_card h1 {
    font-size: 50px;
}

.benefit_card {
    margin: 2rem 0;
    background-color: var(--light);
    color: var(--text);
    border-radius: 1rem;
}

.benefit_link {
    background-color: var(--primary);
    color: var(--light);
    border-radius: 1rem;
    padding: 5px 30px;
}

.benefit_button {
    margin: 30px 0;
}

.card_text {
    text-align: left;
    margin: 20px;
}
/* #endregion section 4 */

/* #region section 5 */
.about h1 {
    font-size: 43px;
    color: var(--primary);
    margin-bottom: 1rem;
}

.bottom_text {
    margin: 3rem 0;
}

.about img {
    border-radius: 50%;
}

.quote_about {
    font-size: 80px;
    position: relative;
    left: 170px;
    bottom: 280px;
    color: var(--primary);
}

.about_text {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
    margin-left: 25px
}

.about_btn {
    background-color: var(--primary);
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    border-radius: 1rem;
}

.about_btn a {
    color: var(--light);
    font-weight: 400;
}
/* #endregion section 5 */

/* #region section 6 */
.call_to_action {
    background-color: var(--primary);
    text-align: center;
    color: var(--light);
}

.container_sm {
    width: 40%;
    margin: auto;
}

.call_to_action h1 {
    font-size: 44px;
    margin: 30px 0;
}

.call_to_action p {
    font-size: 18px;
}

#alert_title {
    color: var(--alert);
    font-size: 100px;
}

#cta_btn {
    background-color: var(--light);
    padding: 10px 50px;
    border-radius: 2rem;
    color: var(--primary);
}

.get_started {
    margin-top: 30px;
    color: var(--primary);
}

.privacy {
    margin-top: 30px;
}

.privacy a {
    color: var(--light);
    text-decoration: underline;
}
/* #endregion section 6 */

/* #region footer */
footer {
    background-color: var(--dark);
    padding: 3rem 0;
    color: var(--light);
    text-align: center;
}

footer p {
    line-height: normal;
    font-size: 14px;
}

footer a {
    color: var(--primary);
}

.credits {
    margin: 3rem 2rem 0;
}
/* #endregion footer */

/* #endregion main */

/* #region responsive */
@media screen and (min-width: 481px) {
    .container {
        width: 100%;
    }

    .menu_right {
        display: none;
    }

    .burger_menu {
        display: block;
        font-size: 20px;
        color: white;
    }
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 720px;
    }

    .col_sm_4 {
        width: calc(100% / 12 * 4 - 20px);
    }

    .col_sm_6 {
        width: calc(100% / 12 * 6);
    }

    .col_sm_8 {
        width: calc(100% / 12 * 8 - 20px);
    }

    .menu_right {
        display: none;
    }

    .burger_menu {
        display: block;
        font-size: 20px;
        color: white;
    }

    .demo img {

    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    #app_title {
        margin-left: 10px;
    }

    .demo img {
        margin-left: -40px;
        margin-top: 118px;
    }

    .about_text {
        margin-left: 0;
    }

    .quote_about {
        left: 190px;
        bottom: 280px;
    }

    .container_sm {
        width: 43%;
        margin: auto;
    }

    .burger_menu {
        display: none;
    }

    .menu_right {
        display: flex;
    }
}
